body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    width: 800px;
}

.visualizador {
    height: 250px;
    width: 250px;
    border: 1px;
    border-style: solid;
    border-radius: 5px;

    background-color: rgb(145, 145, 145);
}

.descricao {
    /* height: 200px; */
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.foo{
    font-family: Arial, Helvetica, sans-serif;
    li {
        background-color: #333333;
        text-align: center;
        text-indent: 100px;
        list-style-type: none;
        text-align: center;
        color:#ffffff;
    }
}

.pgtitle{
    padding: 50px 0;
    background-color: #aaaaaa;
    border-bottom: 1px solid #EEE;
}

.navegacao{
    font-family: Arial, Helvetica, sans-serif;
    li {
        margin-right: 60px;
        display: inline-block; }
    li a{
        display: block;
        text-align: center;
        color:#234990;
        padding: 10px 10px;
        text-decoration: none;}
    li a:hover {
        background-color: #EC3D33;}
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        background-color: #F5B12E;
        text-align: center;}

    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 20px;
}

.carousel {
    min-width: 300px;
    max-width: 65vw;
    height: 750px;

    display: flex;
    gap: 4vw;                       /* ajustar posição das páginas */

    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    -ms-overflow-style: none;       /* Internet Explorer 10+ */
    scrollbar-width: none;          /* Firefox, Safari 18.2+, Chromium 121+ */

    anchor-name: --carousel;
}

.carousel::scroll-button(*) {
    border: 0;
    font-size: 3rem;
    background: none;
    color: black;
    opacity: 0.7;
    cursor: pointer;

    position: absolute;
    position-anchor: --carousel;
}

.carousel::scroll-button(*):hover, .carousel::scroll-button(*):focus {
    opacity: 1;
}

.carousel::scroll-button(*):active {
    translate: 1px 1px;
}
.carousel::scroll-button(*):disabled {
    opacity: 0.2;
    cursor: unset;
}

.carousel::scroll-button(left) {
    content: "◄";
    right: calc(anchor(left) - 70px);
    bottom: calc(anchor(bottom) - 50px);
}
.carousel::scroll-button(right) {
    content: "►";
    left: calc(anchor(right) - 70px);
    bottom: calc(anchor(bottom) - 50px);
}


.carousel-page {    
    list-style-type: none;
    border: 1px solid #dddddd;
    padding: 18px;                  /* ajustar posição das páginas */
    flex: 0 0 100%;                 /* ajustar tamanho das páginas */

    scroll-snap-align: center;

    background-color: #eeeeee;
}

.artwork {
    min-width: 260px;
    max-width: 40vw;
    min-height: 220px;
    max-height: 60vw;

    display: flex;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    
    background-color: #dddddda5;
    clear: both;
}

.carousel-page:nth-child(odd) .artwork:nth-child(odd) {
    float: left;
}
.carousel-page:nth-child(odd) .artwork:nth-child(even) {
    float: right;
}
.carousel-page:nth-child(even) .artwork:nth-child(even) {
    float: left;
}
.carousel-page:nth-child(even) .artwork:nth-child(odd) {
    float: right;
}

/* 
.artwork:nth-child(odd) {
}
.artwork:nth-child(even) {
    float: right;
} */

#page01 {
    background-image: url("../../assets/img/grid.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#page02 {
    background-image: url("../../assets/img/grid.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#page03 {
    background-image: url("../../assets/img/grid.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

model-viewer {
    /* min-width: 120px;
    max-width: 50vw; */
    width: 60%;
    min-height: 200px;
    max-height: 22vw;
    padding: 5px;
}

.description {
    width: 40%;
    padding: 5px;
}

