body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.foo{
    font-family: Arial, Helvetica, sans-serif;
    li {
        background-color: #333333;
        text-align: center;
        text-indent: 100px;
        list-style-type: none;
        color:#ffffff;
    }
}

.pgtitle{
    padding: 50px 0;
    background-color: #aaaaaa;
    border-bottom: 1px solid #EEE;
}

.navegacao{
    font-family: Arial, Helvetica, sans-serif;
    li {
        margin-right: 60px;
        display: inline-block; }
    li a{
        display: block;
        text-align: center;
        color:#234990;
        padding: 10px 10px;
        text-decoration: none;}
    li a:hover {
        background-color: #EC3D33;}
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        background-color: #F5B12E;
        text-align: center;}

    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    width: 800px;
}

.carousel {
    min-width: 300px;
    max-width: 65vw;
    height: 750px;

    display: flex;
    gap: 4vw;                       /* ajustar posição das páginas */

    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    -ms-overflow-style: none;       /* Internet Explorer 10+ */
    scrollbar-width: none;          /* Firefox, Safari 18.2+, Chromium 121+ */

    anchor-name: --carousel;
}

.carousel::scroll-button(*) {
    border: 0;
    font-size: 3rem;
    background: none;
    color: black;
    opacity: 0.7;
    cursor: pointer;

    position: absolute;
    position-anchor: --carousel;
}

.carousel::scroll-button(*):hover, .carousel::scroll-button(*):focus {
    opacity: 1;
}

.carousel::scroll-button(*):active {
    translate: 1px 1px;
}
.carousel::scroll-button(*):disabled {
    opacity: 0.2;
    cursor: unset;
}

.carousel::scroll-button(left) {
    content: "◄";
    right: calc(anchor(left) + 20px);
    bottom: calc(anchor(center));
}
.carousel::scroll-button(right) {
    content: "►";
    left: calc(anchor(right) + 20px);
    bottom: calc(anchor(center));
}

.carousel-page {
    padding: 18px;                  /* ajustar posição das páginas */
    flex: 0 0 100%;                 /* ajustar tamanho das páginas */
    border: 1px solid #dddddd;
    background-color: #eeeeee;
    list-style-type: none;

    scroll-snap-align: center;
}

#page01 {
    background-image: url("../../../assets/img/grid.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#page02 {
    background-image: url("../../../assets/img/grid.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#page03 {
    background-image: url("../../../assets/img/grid.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.artwork {
    min-width: 260px;
    min-height: 220px;
    /* max-width: 40vw;
    max-height: 60vw; */

    display: flex;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    
    background-color: #dddddda5;
    clear: both;
}

.visualizador {
    height: 250px;
    width: 250px;
    border: 1px;
    border-style: solid;
    border-radius: 5px;

    background-color: rgb(145, 145, 145);
}

.descricao {
    margin: auto;
    max-width: 400px;

    /* height: 200px; */
    text-align: center;
    justify-content: center;
    align-items: center;
}

