body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    width: 800px;
}

.visualizador {
    height: 250px;
    width: 250px;
    border: 1px;
    border-style: solid;
    border-radius: 5px;

    background-color: rgb(145, 145, 145);
}

.descricao {
    /* height: 200px; */
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.foo{
    font-family: Arial, Helvetica, sans-serif;
    li {
        background-color: #333333;
        text-align: center;
        text-indent: 100px;
        list-style-type: none;
        text-align: center;
        color:#ffffff;
    }
}

.pgtitle{
    padding: 50px 0;
    background-color: #aaaaaa;
    border-bottom: 1px solid #EEE;
}

.navegacao{
    font-family: Arial, Helvetica, sans-serif;
    li {
        margin-right: 60px;
        display: inline-block; }
    li a{
        display: block;
        text-align: center;
        color:#234990;
        padding: 10px 10px;
        text-decoration: none;}
    li a:hover {
        background-color: #EC3D33;}
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        background-color: #F5B12E;
        text-align: center;}}
